{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "styles": "scss/"
        },
        "cwd": "babelrc"
      }
    ],
    [
      "wrap-in-js",
      {
        "extensions": ["css$", "scss$"]
      }
    ],
    [
      "babel-plugin-root-import",
      {
        "rootPathSuffix": "app/"
      }
    ]
  ],
  "presets": ["next/babel"],
  "ignore": []
}
